.filter {
    width: 400px;
    height: 700px;
    display: flex;
    display: inline-flex;
    border-radius: var(--def-radius);
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    background: var(--white);
    margin-right: 23px;
}